.card{
  display: flex;
  border: 1px solid gray;
  padding: 8px;

}

.post-image{
  width: 120px;
  height: 150px;
  object-fit: cover;
}

.post-text{
  display: flex;
  flex-direction: column;
}


.buttons-container{
  display: flex;
  flex-direction: column;
}

.spacer{
  flex-grow: 1;
}
